body{
    background-color: #E1EBE6;
    }
   *{
    Font-family:Poppins;
    }
  h2{
      font-weght: bold;
  }  
  .nav{
      background: white;
  }

  .nav ul li{
      display: inline-block;
      font-family: 'Times New Roman', Times, serif;
  }