
   *{
    Font-family:Poppins;
    }
  
  .li{
      display: inline-block;
      float: right;
  }

   h1{
       float:right; 
   }   
      
  
.logo{
    float: left;
}
 .First-ul ul{
        float: right
        
        
    }
.First-ul ul li{
    display: inline-block
    
}
 

  