body{
    background:#F6B400;
    }
body{
    Font-family:Poppins;
    }
  h2{
      font-weght: bold;
  }  
  .nav{
      background: white;
  }

  .nav ul li{
      display: inline-block;
      font-family: 'Times New Roman', Times, serif;
  }